{% extends "base.html" %}
{% block content %}
    <h1>Contact Us</h1>
    <form method="post">
      <div class="mb-3">
        <label for="name">Your Name:</label>
        <input class="form-control" type="text" name="name" required>
      </div>
      <div class="mb-3">
        <label for="email">Your Email:</label>
        <input class="form-control" type="email" name="email" required>
      </div>
      <div class="mb-3">
        <label for="message">Message:</label>
        <textarea class="form-control" name="message" required></textarea>
      </div>
      <button class="btn btn-primary" type="submit">Send</button>
    </form>
{% endblock %}